* {
    font-family: 'Arial';
}

body { 
  cursor: url('assets/cursormini.png'), auto; 
}

.container {
    display: flex;
    
}

.app-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    height: 70vh;
    width: 100vw;

    padding: 20px;
}

.list-view,
.contact-view,
.create-view {
    flex: 1;
    max-width: 30%;

    border-radius: 20px;
    border: 2px solid grey;
    padding: 20px;

    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.list-view .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.contact-view .title,
.create-view .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.button-add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    box-shadow: none;
    background-color: transparent;
}

.button-add img {
    width: 100%;
}


.column-list {
    flex: 1;

    position: relative;
    overflow: scroll;
}

.column-list .controls {
    display: flex;
    justify-content: flex-end;
    left: 0;
    right: 0;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
}

.contact-column .card-title {
    text-align: center;
}

.input-group {
    margin-bottom: 10px;
}

.input-group-text {
    width: 120px;
}



/* =================================================================*/

.recipe-view {
    margin-left: 10px;
    max-width: 600px;
}

.list-edit {
  display: flex;
  flex-direction: column;
}



.wrap-logo{
    display: flex;
    align-items: center;

}

.logo {
    display: flex;
    align-items: center;
    width: 10%;
    height: 10%;
  }
  .logoapp {
    display: flex;
    align-items: center;
    width: 20%;
    height: 320%; 
    margin: 3% 1% 1% 1%;
  }
  input {

    background-color: rgba(0, 0, 0, 0.043);
    align-items: center;
    width: 75%;
    height: 15%; 
    margin: 0% 0% 0% 50%;
    border-radius: 4%;
    
  }
  
  textarea {

    background-color: #00000023;
    align-items: center;
    width: 75%;
    height: 15%; 
    margin: 0% 0% 0% 50%;
    border-radius: 4%;
  }

  label {

    align-items: center;
    width: 75%;
    height: 15%; 
    
    
  }
  .submit, button
  {
    position: relative;
  background-color: black;
  border-radius: 1em;
  font-size: 15px;
  margin: 10% 10% 10% 60%;
  width: 170px;
  height: 50px;
  color: rgb(255, 254, 253);
  padding: 0.8em 1.8em;
  cursor:pointer;
  user-select:none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.submit:hover {
  transition-duration: 0.1s;
  background-color: #70229b;
}

.submit:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px rgb(255, 212, 42);
}

.submit:active:after {
  box-shadow: 0 0 0 0 rgb(212, 38, 235);
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}

.submit:active {
  top: 1px;
}



.nim {

font-weight: bold;

margin: 0ch 5ch 13ch 0ch;

}

.addrecipe{
    margin: 30px 20px 20px 20px;
    background: linear-gradient(45deg, #39064a 33%, #b54eff 66%, #daaa1a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:#daa01a;
}


.recipes{
     margin: 100px 30px 30px 0px;
     
}

.recipe-view{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 4%;
    font-weight: bold;
    padding: 5% 5% 5% 5%;
    margin: -120px 0px 0px 250px;
}

.view-name, .view-ingr , .view-method{

    padding: 5%;
}

.view-method{

    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.invisible {
  display: none;
}

.search {
  width: 200px;
  height: 20px;
}

.search-accept {
  width: 30px;
  height: 10px;
}

.search-container {
  display: flex;
}

ul {
  padding-left: 20px;
}

.view-delete, .view-edit {
  margin: 5%
}

.left-column {
  width: 300px;
}